#Visual Studio temporary directory
.vs/
ipch/
TestResults/
*.trx
*.sdf
*.opensdf
*.suo
*.log
*.user
*.tmp_proj
*.vsp
*.psess
*.orig

*.zip*
*.VC.db

#Binary directory
bin

#Intermediate .net directory
Intermediate
obj

#NDepends
NDependReportFiles
TrendMetrics
NDependOut

#CPPDepends
XmlFilesUsedToBuildReport
TrendMetrics
Incremental
Support/Metrics/CppDependOut/20*
Support/Metrics/CppDependOut/*.xml
Support/Metrics/CppDependOut/*.html

#DotCover
Support/MXUTests.html
Support/MXUTests

#Other
ResetToBaseDumps/
PredictedInputCache_Debug_x64.dat
PredictedInputCache_Release_x64.dat
TestResults/
/GitExtensions.settings

